
    .global-imagem{
        background-image: url("tenis.jpeg");
        background-position: center;
    }
    .frase-1{
          color: #FFFFFF;
    }

    .frase-2{
        color: #FFFFFF;


    }

    .botao{
        color: #FFFFFF;

    }

    .simbolo{
        color: #FFFFFF;

    }